:root {
   --opacity: .25;
}

.calculator {
   max-width: 576px;
   min-width: 576px;
   height: 720px;
   background-color: rgba(255, 255, 255, var(--opacity));
   border-radius: 30px;
   padding: 15px;
}

.calculator-screen-wraper {
   width: 100%;
   height: 20%;
   background-color: rgba(255, 255, 255, var(--opacity));
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 10px;
}

.calculator-buttons-wraper {
   width: 100%;
   height: 75%;
   background-color: transparent;
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   padding: 3px;
}

.calculator-screen {
   width: 100%;
   height: 100%;
   /* border: 1px solid black; */
   font-family: inherit;
   font-size: 46px;
   overflow: auto hidden;
}
.calculator-screen-input, .calculator-screen-result {
   height: 50%;
   /* display: flex; */
   text-align: right;
}

.calculator-screen-result {
   font-size: calc(.50vw + 15px);
   justify-content: flex-end;
   align-items: center;
}

.calculator-screen-input {
   justify-content: flex-end;
   align-items: flex-end;
}